<header id="header-wrapper">
<div class="main-header">
<div class="header-inner show">
<div class="header-header flex-center">
<div class="container row-x1">
<div class="header-items">
<div class="flex-left">
<div class="main-logo section" id="main-logo" name="Header Logo"><div class="widget Header" data-version="2" id="Header1">
<a class="mobile-menu-toggle" href="javascript:;" role="button" title="Menu"></a>
<a class="logo-img" href="{{ '/' | relative_url }}">
{% if site.logo %}
<img alt="{{ site.title }}" data-height="60" data-width="221" src="{{ site.logo }}" title="{{ site.title }}">
{% else %}
<h1 id="h1-off">{{ site.title }}</h1>
{% endif %}
</a>
</div></div>
<div class="litespot-pro-main-nav section" id="litespot-pro-main-nav" name="Header Menu"><div class="widget LinkList show-menu" data-version="2" id="LinkList101">
<ul id="litespot-pro-main-nav-menu" role="menubar">
{% for link in site.data.navigation.topmenu %}
{% if link.sublinks %}
<li class="has-sub">
<a href="#" role="menuitem" alt="{{ link.title }}">{{ link.title }}</a>
<ul class="sub-menu m-sub">
{% for sublink in link.sublinks %}
{% if sublink.title == '---' %}
<li><hr class="dropdown-divider"></li>
{% else %}
<li>
<a role="menuitem" href="{{ sublink.url }}" alt="{{ sublink.title }}">
{{ sublink.title }}
</a>
</li>
{% endif %}
{% endfor %}
</ul>
</li>
{% else %}
<li>
<a role="menuitem" href="{{ link.url }}" alt="{{ link.title }}">
{{ link.title }}
</a>
</li>
{% endif %}
{% endfor %}
</ul>
</div></div>
</div>
<div class="flex-right">
<div class="tgl-wrap">
<a class="tgl-style darkmode-toggle" href="javascript:;" role="button"></a>
<a class="tgl-style show-search" href="javascript:;" role="button" title="Search"></a>
</div>
</div>
<div id="main-search-wrap">
<div class="main-search">
<form action="/search.html" class="search-form" target="_top">
<input aria-label="Search" autocomplete="off" class="search-input" name="q" placeholder="Search" type="search" value="">
<button class="search-close" type="reset" value=""></button>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</header>
