<div id="slide-menu">
  <div class="slide-menu-header">
    <div class="mobile-search">
      <form action="/search" class="search-form" role="search">
        <input autocomplete="off" class="search-input" name="query" placeholder="Search Here..." type="search" value="">
        <button class="search-action" type="submit"></button>
      </form>
    </div>
    <div class="mobile-toggle-wrap">
      <a class="hide-supermag-pro-mobile-menu" href="javascript:;" role="button"></a>
    </div>
  </div>
  
<div class="slide-menu-flex">
<div class="supermag-pro-mobile-menu" id="supermag-pro-mobile-menu">
<ul id="main-mobile-nav" role="menubar">
{% for link in site.data.navigation.topmenu %}
{% if link.sublinks %}
<li class="has-sub">
<a href="#" role="menuitem" alt="{{ link.title }}">{{ link.title }}</a>
<ul class="sub-menu m-sub" style="display: none;">
{% for sublink in link.sublinks %}
{% if sublink.title == '---' %}
<li><hr class="dropdown-divider"></li>
{% else %}
<li>
<a role="menuitem" href="{{ sublink.url }}" alt="{{ link.title }}">
{{ sublink.title }}
</a>
</li>
{% endif %}
{% endfor %}
</ul>
</li>
{% else %}
<li>
<a role="menuitem" href="{{ link.url }}" alt="{{ link.title }}">
{{ link.title }}
</a>
</li>
{% endif %}
{% endfor %}
</ul>
</div>

  <div class="mobile-menu-footer">
  
<div class="mobile-topbar-social social-bg"><ul class="topbar-ul social-icons social">
{% for link in site.data.social-footer-links.social %}
<li class="{{ link.name }} link-{{ forloop.index0 }}"><a alt="{{ link.name }}" class="{{ link.name }}" href="{{ link.url }}" rel="noopener noreferrer" target="_blank" title="{{ link.name }}"></a></li>
{% endfor %}
</ul></div>
<div class="mobile-topbar-menu"><ul class="topbar-ul link-list">
 {% for link in site.data.navigation.navmenu %}
    <li>
      <a href="{{ link.url }}" alt="{{ link.title }}">{{ link.title }}</a>
      {% if link.sublinks %}
        <ul class="sub-links">
          {% for sublink in link.sublinks %}
            <li><a href="{{ sublink.url }}" alt="{{ sublink.title }}">{{ sublink.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
</ul></div>
</div>
  
</div>

</div>
  <div class="overlay"></div>
