<div class='blog-pager' id='blog-pager'>
  <!-- Load More Pagination -->
  {% if paginator.total_pages > 1 %}
    {% if paginator.next_page %}
      <a class='blog-pager-older-link btn load-more' href='{{ paginator.next_page_path | relative_url }}' id='supermag-pro-load-more-link'>
        Load More
      </a>
      <span class='loading'><div class='loader'></div></span>
      <span class='no-more btn load-more'>
       That is All
      </span>
    {% else %}
<span class="no-more btn load-more show">
That is All
</span>
    {% endif %}
  {% endif %}
</div>
