<div class="widget LinkList" data-version="2" id="LinkList1">
<div class="widget-title title-wrap"><h3 class="title">Follow Us</h3></div>
<div class="widget-content">
<ul class="social-icons social social-bg">
{% for link in site.data.social-follow.widget %}
<li class="{{ link.font }} link-{{ forloop.index0 }}"><a class="{{ link.font }} btn" href="{{ link.url }}" rel="noopener noreferrer" target="_blank" title="{{ link.name }}" alt="{{ link.name }}"><span class="text">{{ link.name }}</span></a></li>
{% endfor %}
</ul>
</div>
</div>


<div class="widget PopularPosts" data-version="2" id="PopularPosts2">
  <div class="widget-title title-wrap">
    <h3 class="title">Popular Posts</h3>
  </div>
  <div class="widget-content default-items">
    {% assign popular_posts = site.posts | where: "popular", true | sort: "date" | reverse %}
    {% for post in popular_posts limit:3 %}
    <div class="default-item ds item-{{ forloop.index0 }}">
      <a class="entry-image-wrap {% if post.image %} is-image {% else %} is-video {% endif %}" 
         href="{{ post.url }}" title="{{ post.title }}">
        <span class="entry-thumb lazy-ify" data-image="{{ post.image | default: 'default-image.jpg' }}" 
              style="background-image:url({{ post.image | default: 'default-image.jpg' }})">
        </span>
      </a>
      <div class="entry-header">
        <h2 class="entry-title">
          <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
        </h2>
        <div class="entry-meta">
          <span class="entry-time mi">
            <time class="published" datetime="{{ post.date | date: '%B %d, %Y' }}">
              {{ post.date | date: '%B %d, %Y' }}
            </time>
          </span>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>



<div class="widget HTML type-mini" data-version="2" id="HTML8">
  <div class="widget-title title-wrap">
    <h3 class="title">Latest Deals</h3>
  </div>
  <div class="widget-content">
    <div class="mini-items">
      {% assign latest_posts = site.posts | sort: "date" | reverse %}
      {% for post in latest_posts limit:4 %}
      <div class="mini-item item-{{ forloop.index0 }}">
        <a title="{{ post.title }}" class="entry-image-wrap {% if post.image %} is-image {% else %} is-video {% endif %}" 
           href="{{ post.url }}">
          <span class="entry-thumb lazy-ify" data-image="{{ post.image | default: 'default-image.jpg' }}" 
                style="background-image:url({{ post.image | default: 'default-image.jpg' }})">
          </span>
        </a>
        <div class="entry-header">
          <h2 class="entry-title">
            <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
          </h2>
          <div class="entry-meta">
            <span class="entry-time mi">
              <time class="published" datetime="{{ post.date | date: '%B %d, %Y' }}">
                {{ post.date | date: '%B %d, %Y' }}
              </time>
            </span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>



{% include ads/sidebar-ads.html %}
