<div class='post-share'>
<ul class='supermag-pro-share-links social social-bg'>
    <li class='share-label'><span class='share-icon'><i class='fas fa-share-alt'></i></span></li>
    <li class='facebook-f has-span'>
      <a class='facebook btn window-ify' data-height='500' data-width='520' data-url='https://www.facebook.com/sharer.php?u={{ page.url | absolute_url }}' href='javascript:;' rel='nofollow' title='Facebook'><span>Facebook</span></a>
    </li>
    <li class='twitter has-span'>
      <a class='twitter btn window-ify' data-height='520' data-width='860' data-url='https://twitter.com/intent/tweet?url={{ page.url | absolute_url }}&text={{ page.title | escape }}' href='javascript:;' rel='nofollow' title='Twitter'><span>Twitter</span></a>
    </li>
    <li class='whatsapp'>
      <a class='whatsapp btn window-ify' data-height='520' data-width='860' data-url='https://api.whatsapp.com/send?text={{ page.title | escape }} | {{ page.url | absolute_url }}' href='javascript:;' rel='nofollow' title='WhatsApp'></a>
    </li>
    <li class='linkedin'>
      <a class='linkedin btn window-ify' data-height='520' data-width='860' data-url='https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}&title={{ page.title | escape }}' href='javascript:;' rel='nofollow' title='LinkedIn'></a>
    </li>
    <li class='pinterest-p'>
      <a class='pinterest btn window-ify' data-height='520' data-width='860' data-url='https://www.pinterest.com/pin/create/button/?url={{ page.url | absolute_url }}&media={{ page.featured_image }}&description={{ page.title | escape }}' href='javascript:;' rel='nofollow' title='Pinterest'></a>
    </li>
    <li class='tumblr'>
      <a class='tumblr btn window-ify' data-height='520' data-width='860' data-url='https://www.tumblr.com/share/link?url={{ page.url | absolute_url }}&name={{ page.title | escape }}' href='javascript:;' rel='nofollow' title='Tumblr'></a>
    </li>
    <li class='reddit'>
      <a class='reddit btn window-ify' data-height='520' data-width='860' data-url='https://reddit.com/submit?url={{ page.url | absolute_url }}&title={{ page.title | escape }}' href='javascript:;' rel='nofollow' title='Reddit'></a>
    </li>
    <li class='telegram'>
      <a class='telegram btn window-ify' data-height='520' data-width='860' data-url='https://telegram.me/share/url?url={{ page.url | absolute_url }}&text={{ page.title | escape }}' href='javascript:;' rel='nofollow' title='Telegram'></a>
    </li>
    <li class='email'>
      <a class='email btn window-ify' data-height='500' data-width='520' data-url='mailto:?subject={{ page.title | escape }}&body={{ page.url | absolute_url }}' href='javascript:;' rel='nofollow' title='Email'></a>
    </li>
    <li class='show-hid'>
      <a class='btn' data-title='Show More' href='javascript:;' rel='nofollow'></a>
    </li>
  </ul>
</div>
