<div class="widget HTML is-visible type-list" data-version="2" id="HTML13">
  <div class="widget-title title-wrap">
    <h3 class="title">Android</h3>
    <a href="/category/android/" class="wt-l">View all</a>
  </div>

  {% assign android_posts = site.posts | where_exp: "post", "post.categories contains 'android'" %}

  {% if android_posts.size > 0 %}
  <div class="widget-content">
    <div class="content-block list-items">
      {% for post in android_posts limit:3 %}
      <div class="list-item item-{{ forloop.index0 }}">
        <a title="{{ post.title }}" class="entry-image-wrap {% if post.image %} is-image {% else %} is-video {% endif %}" href="{{ post.url }}">
          <span class="entry-thumb lazy-ify" data-image="{{ post.image | default: 'default-image.jpg' }}" 
                style="background-image:url({{ post.image | default: 'default-image.jpg' }})">
          </span>
        </a>
        <div class="entry-header">
          <h2 class="entry-title"><a title="{{ post.title }}" href="{{ post.url }}">{{ post.title }}</a></h2>
          <span class="entry-excerpt excerpt">{{ post.excerpt | strip_html | truncatewords:15 }}</span>
          <div class="entry-meta">
            <span class="entry-author mi">
              <span class="sp">by</span>
              <span class="author-name">{{ post.author }}</span>
            </span>
            <span class="entry-time mi">
              <span class="sp">•</span>
              <time class="published" datetime="{{ post.date | date: '%Y-%m-%d' }}">
                {{ post.date | date: '%Y-%m-%d' }}
              </time>
            </span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% else %}
  <p>No Android posts available.</p>
  {% endif %}
</div>
